<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!--=============== BOXICONS ===============-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

  <!--=============== CSS ===============-->
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <!--=============== HEADER ===============-->
  <header class="header" id="header">
    <nav class="nav container">
      <a href="#" class="nav__logo">टिप्पणी</a>

      <div class="nav__menu" id="nav-menu">
        <ul class="nav__list">

          <form method="POST" role="search" action="search">
            <div class="input-container">
              <input type="search" name="text" class="input" placeholder="search...">
              <span class="icon">
                <svg width="19px" height="19px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                  <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                  <g id="SVGRepo_iconCarrier">
                    <path opacity="1" d="M14 5H20" stroke="#000" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round"></path>
                    <path opacity="1" d="M14 8H17" stroke="#000" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round"></path>
                    <path d="M21 11.5C21 16.75 16.75 21 11.5 21C6.25 21 2 16.75 2 11.5C2 6.25 6.25 2 11.5 2"
                      stroke="#000" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path opacity="1" d="M22 22L20 20" stroke="#000" stroke-width="3.5" stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </g>
                </svg>
              </span>
            </div>
          </form>

        </ul>
      </div>

      <ul>
        <li class="nav__item">
          <a href="/logout" class="nav__link">
            <i class="fa-solid fa-lock nav__icon"></i>
            <span class="nav__name">LOGOUT</span>
          </a>
        </li>
      </ul>
    </nav>
  </header>

  <main>
    <!--=============== HOME ===============-->
    <section class="section__height" id="home">
      <div class="dash_bgbox">
        <div class="dash_header">
          <h1>Hey, <%= userName %> </h1>

          <button type="button" class="button">
            <span class="button__text">New Note</span>
            <span class="button__icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24"
                stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24"
                fill="none" class="svg">
                <line y2="19" y1="5" x2="12" x1="12"></line>
                <line y2="12" y1="12" x2="19" x1="5"></line>
              </svg></span>
          </button>
        </div>

      </div>
    </section>


</body>

</html>